header {
    background-color: #182D35;
}

body {
    font-family: Titillium Web;
    background-color: #0D191E;
    color: white;
    margin: 0;
}

footer {
    background-color: #182D35;
}

h1{
    grid-column: span 4;
    align-self: center;
    justify-self: center;
}

h2 {
    grid-column: 2/5;
    justify-self: start;
}

h3 {
    font-family: Titillium Web;
}

.sections {
    grid-column: span 3;
    align-self: center;
    justify-self: start;
}

.links {
    grid-column: span 1;
    align-self: center;
    justify-self: end;
    padding: 0 35px 0 0;
}

.links-footer {
    grid-column: span 4;
    justify-self: center;
    align-self: center;
}

.container {
    display: grid;
    border: 1px red solid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(100px, 1fr);
    padding: 25px;
    gap: 15px;
    place-items: center;
}

.item-name {
    font: 70px bold;
    padding: 0 60px 0 30px;
    font-family: "Bebas Neue", sans-serif;
}

.item-sections {
    font: 20px Arial;
    padding: 8px;
    text-decoration: none;
    color: white;
}

.item-links {
    width: 45px;
    height: 45px;
    padding: 8px;
}

.item-summary {
    grid-column: 2/4;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 35px;
}

.item-projects {
    justify-self: center;
    align-self: center;
}

.item-projects-active {
    grid-column: span 1;
    justify-self: start;
    align-self: start;
    text-align: center;
}

.item-certifications {
  
}

.item-experience {
    grid-column: 2/4;
    padding: 20px;
    font-size: 30px;
}

.item-footer {
    grid-column: span 4;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: white;
}

.card {
    background-color: white;
    color: black;
    font-family: Titillium Web;
    box-shadow: 0 4px 8px 0 rgb(255, 191, 0);
    padding: 8px;
    border-radius: 5px;
    min-width: 600px;
    min-height: 200px;
}