* {
    font-family: 'Times New Roman', Times, serif;
}

html {
    background-color: #0D191E
}

body {
    color: rgb(175, 175, 175);
    font-size: 20px;
}

h1 {
    grid-column: 1/7;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-size: 40px;
    text-align: left;
}

h3 {
    font-size: 30px;
}

li {
    font-size: 18px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.grid-header-name {
    color: rgb(67, 156, 144);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding: 0 60px 0 0;
}

.grid-header {
    background-color: #182D35;
    align-content: center;
    text-align: center;
    font-size: 25px;
}

.grid-header-sections {
    grid-column: 1/6;
    align-content: center;
    text-align: left;
    padding: 20px;
}

.grid-header-item {
    color: rgb(175, 175, 175);
    text-decoration: none;
    padding: 12px;
}

.grid-header-links {
    grid-column: 6;
    align-content: center;
    text-align: right;
}

.grid-link-img {
    width: 45px;
    height: 45px;
    padding: 10px;
}

.grid-item {
    width: 100px;
    height: 50px;
}

.grid-summary {
    font-size: 25px;
    padding: 15px;
    align-content: center;
    text-align: center;
}

.grid-item-summary {
    grid-column: 2/6;
    text-align: center;
    align-content: center;
}

.grid-projects {
    grid-column: 3/5;
    align-content: center;
    text-align: center;
}

.grid-certifications {
    grid-column: 3/5;
}

.grid-experience {
    grid-column: 1/7;
}

.grid-experience-item {
    grid-column: 3/5;
}

.grid-footer {
    background-color: #182D35;
}

.grid-footer-links {
    grid-column: 3/5;
    text-align: center;
}

.grid-footer-items {
    grid-column: 3/5;
    text-align: center;
}

.card {
    grid-column: span 4;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(255, 191, 0);
    padding: 16px;
    border-radius: 5px;
}

.card-projects {
    justify-self: center;
    width: 350px;
    height: 300px;
}

.card-certifications {
    width: 250px;
    height: 200px;
    text-align: center;
    align-content: center;
}

.card-footer {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

footer {
    background-color: #182D35;
}